#title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#thisArea {
    display: flex;
    justify-content: center;
    margin-top: 100px
}

#checkoutArea {
    display: grid;
    grid-template: 500px / 800px 600px;
    grid-gap: 50px;
}

#cartWindow {
    border: 2px solid black;
    border-radius: 15px;
}

#payment {
    line-height: 40px;
}

#shipping {
    border-bottom: 2px solid black;
}

#total {
    margin-top: 50px;
}

#checkoutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button { 
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
}

button:hover {
    animation: hover 0.3s forwards;
    cursor: pointer;
}

@keyframes hover {
    to {
        background-color: rgb(12, 12, 12);
        color: white;
        border: 1px solid black
    }
}
