#title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#thisArea {
    display: flex;
    justify-content: center;
    margin-top: 100px
}

#checkoutArea {
    display: grid;
    grid-template: 600px / 800px 600px;
    grid-gap: 50px;
}

#cartWindow {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden
}

#cartWindow::-webkit-scrollbar {
    width: 6px
}

#cartWindow::-webkit-scrollbar-track {
    background-color: transparent;
}

#cartWindow::-webkit-scrollbar-thumb {
    background-color: rgb(0,0,0,0.6);
    border-radius: 30px;
    margin: 20px 0px 0px 10px;
}


.cartItem {
    border-bottom: 1px solid black;
    display: grid;
    grid-template: 100px / 200px 400px 200px;
    align-items: center;
    padding: 20px;
}

.cartItem > img {
    width: 100px;
    height: auto;
}

#payment {
    line-height: 40px;
}

#shipping {
    border-bottom: 2px solid black;
}

#total {
    margin-top: 50px;
}

#payment > h3,h1 {
    letter-spacing: 0.03em;
}

#checkoutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button { 
    width: 400px;
    height: 60px;
    border: 2px solid;
    border-radius: 3px;
    font-weight: bold;
    animation: unhover 0.6s forwards;
}

button:hover {
    animation: hover 0.6s forwards;
    cursor: pointer;
}

@keyframes hover {
    to {
        background-color: rgb(12, 12, 12);
        color: white;
        border: 1px solid black;
        border-radius: 50px;
    }
}


