header {
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px
}

#name {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    letter-spacing: 3px;
    position: absolute;
    left: 20px;
    background-color: transparent;
    caret-color: transparent;
}

#name:hover {
    user-select: none;
}

a {
    background-color: transparent;
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    position: relative;
    caret-color: transparent;
    padding: 5px;
    user-select: none;

}

a::before {
    content: "";
    position: absolute;
    display:  block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
}

a:hover {
    color: #000
}

a:link {
    color: black
}

a:visited {
    color: black
}

#bag {
    display: none;
}

#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#record {
    width: 800px;
    position: relative;
    z-index: 0;
    animation: spin 2s infinite linear;
    background-color: transparent;
    caret-color: transparent;    
    user-select: none;
}

#screen > h1 {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    color: white;
    font-size: 100px;
    text-shadow: 0px 0px 20px black;
    user-select: none;
}

#screen > h3 {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    color: white;
    margin-top: 150px;
    text-align: center;
    font-size: 26px;
    text-shadow: 0px 0px 5px black;
    user-select: none;
}

#screen > button {
    display: none
}

#recordPhone {
    display: none;
}

#burger {
    display: none
}


@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {   
        #record {
            width: 150%;
            display: none;
        }

        header > h1 {
            position: static;
        }
        
        header > a {
            display: none
        }

        #screen {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        #screen > h1 {
            font-size: 40px;
            text-align: center;
            text-shadow: none;
            margin-top: 100px;
            color: black;
            position: static
        }

        #screen > h3 {
            display: none
        }

        #screen > button {
            display: block;
            margin-top: 50px;
            width: 100px;
            height: 40px;
            border: 1px solid black;
        }

        #recordPhone {
            display: block;
            width: 400px;
            height: 400px;
            margin-top: 50px;
            right: 200px;
        }

        #bag {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            margin-right: 10px;
            caret-color: transparent;
        }

        #bag > img {
            position: relative;
            width: 30px;
            margin-right: 10px;
            z-index: 0;
        }

        #bag > div {
            position: absolute;
            font-size: 10px;
            margin-right: 10px;
            margin-top: 8px;
            font-weight: bold;
            z-index: 1;
            background-color: transparent;
        }
   }    